# Dependencies
node_modules/

# Build outputs
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Caches
.cache/

# Local client dev directory
client_dev/

